.address-list {
	justify-self: end;
	max-width: 240px;
	list-style: none;
}

.address-list_no-justify {
	justify-self: normal;
}

.address-list__item {
	color: #000000;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.35;
}
