.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  line-height: 1.35;
}

.address_no-justify {
  justify-self: normal;
}

.address__link {
  display: block;
}
