.aligned-text {
  display: flex;
  padding-top: 20px;
  line-height: 1.15;
}

.aligned-text:first-child {
  padding-top: 0;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  justify-content: center;
  line-height: 1;
}

.aligned-text_right {
  justify-content: flex-end;
  line-height: 1;
}

.no-letter-spacing {
  letter-spacing: 0;
}
