.bet-button {
  border: 1px solid currentColor;
  padding: 12px 32px;
  color: #fff;
  font-family: inherit;
  font-size: 22px;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}
