.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 50px 50px;
}

.cover__title {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__description {
  display: flex;
  align-items: center;
  gap: 78px;
  align-self: flex-end;
  padding-top: 135px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.28;
  text-transform: uppercase;
  word-spacing: 18px;
}
