.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  font-size: 18px;
  line-height: normal;
  list-style-type: circle;
  white-space: normal;
}

.header__links-list-item_active {
  list-style-type: none;
}

.header__link_active {
  border: none;
}

.header__logo {
  display: block;
  justify-self: center;
}

.header__logo-image {
  display: block;
  max-width: 148px;
  max-height: 105px;
}
